<?xml version="1.0" encoding="UTF-8"?>
<property-set>
    <!-- 输入数据字段定义 -->
    <property key="data.input.field" type="string">s_imsi=0,s_phone_no=1,s_meid=2,s_nai=3,s_dest_ip=4,s_desp_port=5,s_src_ip=6,s_src_port=7,s_pdsn_ip=8,s_pcf_ip=9,s_ha_ip=10,s_userzone_id=11,s_bs_id=12,s_subnet=13,s_service_option=14,s_pro_id=15,s_service_type=16,s_start_time=17,s_end_time=18,s_duration=19,s_down_flow=20,s_up_flow=21,s_down_pks=22,s_up_pks=23,s_session_id=24,s_record_close_cause=25,s_ua=26,s_url=27,s_domain_name=28,s_host=29,s_content_len=30,s_content_type=31,s_iflink=32,s_ref=33,s_http_protype=34,s_http_status=35,s_res_delay=36,s_type=37</property>

     <property key="data.input.field.separator" type="string">\|</property>
    <!--输入数据源的路径-->
    <!--
    <property key="data.input.src.path" type="string">/home/datamining/flume/yd_DPI/</property>
    -->
    <property key="data.input.src.path" type="string">/home/datamining/flume/yd_DPI/</property>

    <!-- 是否打印详细错误日志 -->
	<property key="is.print.detail.err.log" type="boolean">true</property>

	<!-- 规则库相关配置 -->
	<property key="rule.db.driverclass" type="string">com.mysql.jdbc.Driver</property>
	<property key="rule.db.url" type="string">jdbc:mysql://10.1.3.4:3306/dmp_console_jm</property>
	<property key="rule.db.username" type="string">dmp_console</property>
	<property key="rule.db.password" type="string">c15_abaVq</property>

	<!-- 从mysql规则库加载是否解密 -->
	<property key="is.rule.db.encrypt" type="boolean">false</property>
	<!-- 从hdfs规则库加载是否解密 -->
	<property key="is.rule.hdfs.encrypt" type="boolean">true</property>

	<!-- 从哪里加载规则库。 hdfs/mysql -->
	<property key="rule.db" type="string">hdfs</property>
    <!-- 是否将规则导入到hdfs -->
    <property key="is.load.rule.from.mysql.to.hdfs" type="boolean">false</property>

    <!--适配器-->
	<property key="gs.project.adapter" type="string">com.ai.dmp.ci.identify.adapter.mobile.DxyMobileApapter</property>

    <!--文件输入类型, 如果为文本类型，则不用改配置项-->
    <property key="mapreduce.job.inputformat.class" type="string">org.apache.hadoop.mapreduce.lib.input.SequenceFileInputFormat</property>

</property-set>