<?xml version="1.0" encoding="UTF-8"?>
<property-set>
    <!--每个小时数据需要的reduce数量-->
    <property key="per.hour.data.reduce.count" type="int">20</property>

    <!-- 输入数据字段分隔符 -->
    <property key="data.input.field.separator" type="string">\|</property>
    <!--
    -->
    <!-- 输入数据字段定义 -->
    <property key="data.input.field" type="string">s_start_time=0,s_end_time=1,s_phone_no=2,s_imei=3,s_imsi=4,s_nsapi=5,s_apn=6,s_rat_type=7,s_ggsn_ip=8,s_sgsn_ip=9,s_lac=10,s_ci=11,s_src_ip=12,s_dest_ip=13,s_protocol_type=14,s_src_port=15,s_dest_port=16,s_unknown=17,s_app_id=18,s_up_pks=19,s_down_pks=20,s_up_flow=21,s_down_flow=22,s_end_flag=23,s_host=24,s_url=25,s_http_status=26,s_res_delay=27,s_content_len=28,s_up_speed=29,s_down_speed=30,s_charging_id=31,s_http_protype=32,s_ref=33,s_ua=34,s_duration=35,s_tac=36,s_eci=37</property>

    <!-- 规则库相关配置 -->
    <property key="rule.db.driverclass" type="string">com.mysql.jdbc.Driver</property>
    <property key="rule.db.url" type="string">jdbc:mysql://10.1.3.4:3306/dmp_console</property>
    <property key="rule.db.username" type="string">dmp_console</property>
    <property key="rule.db.password" type="string">c15_abaVq</property>

    <!--输入数据源的路径-->
    <property key="data.input.src.path" type="string">/user/dmp/test/dpi/zhejiang/</property>

    <!-- 是否打印详细错误日志 -->
    <property key="is.print.detail.err.log" type="boolean">true</property>

    <!-- 从mysql规则库加载是否解密 -->
    <property key="is.rule.db.encrypt" type="boolean">false</property>
    <!-- 从hdfs规则库加载是否解密 -->
    <property key="is.rule.hdfs.encrypt" type="boolean">true</property>

    <!-- 从哪里加载规则库。 hdfs/mysql -->
    <property key="rule.db" type="string">hdfs</property>
    <!-- 是否将规则导入到hdfs -->
    <property key="is.load.rule.from.mysql.to.hdfs" type="boolean">true</property>

    <!--适配器-->
    <property key="gs.project.adapter" type="string">com.ai.dmp.ci.identify.adapter.mobile.YdZhejiangMobileApapter</property>

</property-set>