<?xml version="1.0" encoding="UTF-8"?>
<property-set>
    <!--每个小时数据需要的reduce数量-->
    <property key="per.hour.data.reduce.count" type="int">75</property>

    <!--UA识别缓存个数，采用LRU算法-->
    <property key="ua.cache.count" type="int">100000</property>

    <!-- 输入数据字段定义 -->
    <property key="data.input.field" type="string"></property>
    <!-- 内容识别增强字段,如果添加字段，必须添加到cont_id字段之前 -->
    <property key="data.enhance.field" type="string">phone_no,imei,imsi,mac,idfa,android_id,user_name,email,device_model,device_type,device_os,device_browser,top_domain,comp_domain,loc_id,lac,ci,app_id,site_id,cont_id,action_id,value,value_type_id,record_type</property>
    <!-- 输入数据字段分隔符 -->
    <property key="data.input.field.separator" type="string">	</property>
    <!-- 输出数据字段分隔符 -->
    <property key="data.output.field.separator" type="string">	</property>

    <!-- 是否打印详细错误日志 -->
    <property key="is.print.detail.err.log" type="boolean">true</property>
    <!-- 是否打印详细的计数器，计数器包括：识别的goods_id数、app_tag_id数、keyword数、tag_id数、phone_no、imei、imsi、mac、idfa等 -->
    <property key="is.print.detail.counter" type="boolean">true</property>

    <!-- 应用识别host匹配是否左模糊 -->
    <property key="is.app.matcher.host.left.like" type="boolean">true</property>
    <!-- 站点识别host匹配是否左模糊 -->
    <property key="is.site.matcher.host.left.like" type="boolean">true</property>
    <!-- 经纬度识别host匹配是否左模糊 -->
    <property key="is.loc.matcher.host.left.like" type="boolean">true</property>
    <!-- 用户标识识别host匹配是否左模糊 -->
    <property key="is.user.flag.matcher.host.left.like" type="boolean">true</property>
    <!-- 用户标识识别host匹配是否左模糊 -->
    <property key="is.cont.action.matcher.host.left.like" type="boolean">true</property>
    <!-- web标签识别host匹配是否左模糊 -->
    <property key="is.web.matcher.host.left.like" type="boolean">true</property>


    <!-- 规则库相关配置 -->
    <property key="rule.db.driverclass" type="string">com.mysql.jdbc.Driver</property>
    <property key="rule.db.url" type="string">jdbc:mysql://127.0.0.1/ci</property>
    <property key="rule.db.username" type="string">root</property>
    <property key="rule.db.password" type="string">root123</property>

    <!--是否生成DPI样例数据-->
    <property key="is.output.dpi.example.data" type="boolean">false</property>

    <!-- 从mysql规则库加载是否解密 -->
    <property key="is.rule.db.encrypt" type="boolean">false</property>
    <!-- 从hdfs规则库加载是否解密 -->
    <property key="is.rule.hdfs.encrypt" type="boolean">false</property>

    <!-- 从哪里加载规则库。 hdfs/mysql -->
    <property key="rule.db" type="string">mysql</property>
    <!-- 是否将规则导入到hdfs -->
    <property key="is.load.rule.from.mysql.to.hdfs" type="boolean">true</property>
    <property key="gs.project.adapter" type="string">com.ai.dmp.ci.identify.nv.mr.adapter.ShdxAdapter</property>

</property-set>